body {
        font-family: "Merriweather", serif;
        font-weight: 900;
        font-style: normal;
        
        /*background-image: url('/QinyueYu.github.io/images/');*/
        
}

table {
        font-family: "Merriweather", serif;
        font-weight: 400;
        font-style: normal;
        width: 100%;
        border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  thead {
    background-color: #f2f2f2;
  }

a:not(.navbar a) {
    text-decoration: none; 
    color: lightseagreen; 
  }
a:not(.navbar a):visited {
    color: darkgreen; 
  }
a:not(.navbar a):hover {
    color: darkblue;
  }
 
a.nav {
    text-decoration: none; 
  }

.a{list-style-type: lower-roman;}
.b{list-style-type: lower-alpha;}
.c{list-style-type: square;}
.d{list-style-type: "$";}

li:not(.navbar li)::first-letter{
    color:maroon;
    font-size: 25px;
    font-weight: bold;
}