body {
        font-family: "Merriweather", serif;
        font-weight: 900;
        font-style: normal;
        
        /*background-image: url('/QinyueYu.github.io/images/');*/
        
}
.navbar {
  background-color: #800000;
  font-family: Arial, sans-serif;
}

table {
        font-family: "Merriweather", serif;
        font-weight: 400;
        font-style: normal;
        width: 100%;
        border-collapse: collapse;
         /* table, th, td {border: 1px solid black;*/
}

th, td {
    /*Cell padding is the space between the cell edges and the cell content.*/
    /*Cell spacing is the space between each cell.*/
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  /*zebra by row
  tr:nth-child(even) {
  background-color: #D6EEEE;
}
  */
  
thead {
    background-color: #f2f2f2;
  }