/* Main container styles */
#main {
    background-color: black;
    color: green;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 20px;
}

/* Text styles */
p {
    font-weight: bold;
    color: green; /* Consistent green color */
}

h1 {
    color: green; /* Consistent green color */
}

/* Link styles */
a.link {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    margin-left: 0;
}

a.link:hover, a.link:focus {
    font-weight: bold;
    color: white;
}

/* Navbar styles */
.navbar {
    background-color: #800000;
    font-family: Arial, sans-serif;
}

/* Column styles */
.col-sm, .col-md {
    background-color: #D6D6CE;
    margin: 15px;
    padding: 5px;
}

/* Row styles */
.row {
    margin: 15px;
}

.row-center {
    margin-left: -15px;
}

/* Image styles */
.uniform-four-column-image, .uniform-two-column-image {
    width: 100%;
    object-fit: cover;
}

.uniform-two-column-image {
    padding: 5px;
}

/* Container styles */
.internal-container {
    padding: 20px;
    margin-top: 20px;
    outline: 2px solid black;
}

/* Button styles */
.icon-button {
    background-color: #800000;
    color: white;
}

.icon-button:hover {
    box-shadow: 0 0 10px 0 #800000 inset, 0 0 30px 5px #800000;
    color: white;
}

/* Link styles */
.bold-maroon-link {
    color: #800000;
    text-decoration: none;
    font-weight: bold;
}

.bold-maroon-link:hover {
    color: #800000;
    text-decoration: underline;
}

/* Text styles */
.maroon_text {
    color: #800000;
}

/* List styles */
.unordered_no_bullets {
    list-style-type: none;
}

/* Bar styles */
.maroon_bar {
    background-color: #800000;
    color: white;
}

/* Active link styles */
.active {
    color: white;
    font-weight: bold;
}

/* Footer styles */
.footer {
    background-color: #767676;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    color: white;
}

/* Container content styles */
.container-content {
    flex: 1;
}

/* Book accordion styles */
.book-accordion {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
